@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*font-family: 'Poppins';*/
    font-family: 'Open Sans';
  }
  
  body {
    background-image: url("../img/fondoB.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
 
   
     /*  overflow: hidden; resuelta q lo quita el deslisor*/
     
   
  }
   /*MENU */
.menunav {
  position: fixed;
        /* posicion fija*/
        height: 80px;
        /* altura definida */
        overflow: hidden;
        /*top 0 no estoy copiando*/
        top: 0;
        display: flex;
        align-items: center;
        /*top 0 no estoy copiando*/
        background: #302e2ee6;
        width: 100%;
        gap: 30px;
        z-index: 1000;
        
}
header {
  display: flex;
  width: 80%;
  height: 10vh;
  margin: auto;
  align-items: center;
  font-family: Monaco;
}
.logo {
  background: url(../img/logo.jpg)no-repeat 80% 80%;
  background-size: contain;
  width: 200px;
  height: 65px;
  float: left;
}
.menu{
  position: absolute;
  right: 50px;
}
.titulo{
  margin: 0; 
  color:rgb(190, 166, 85);
}
.menuul{
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 20px;
 }
 .menuul li{
  position: relative;
  list-style: none;
}
.menuul li a {
  position: relative;
  font-size: 1em;
  text-decoration: none;
  line-height: 1em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: transparent;
 /* border-right: 8px solid var(--crl);
  -webkit-text-stroke: 1px var(--crl);*/
  -webkit-text-stroke: 1px rgb(255,255,255,0.5) ;
 } 
 .menuul li a::before {
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0;
  overflow: hidden;
  transition: 1s;
  border-right: 8px solid var(--clr);
  -webkit-text-stroke: 1px var(--clr);
   
  }
.menuul li a:hover::before {
    width: 100%;
    filter: drop-shadow(0 0 25px var(--clr));
   }   

 /*fin MENU */

  /*inicio del carrucel */
 main {
    position: relative;
    
    width: 1400px;
    height: 550px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
  }
  
  .item {
    width: 200px;   
    height: 300px;
    list-style-type: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(255,255,255,0.3) inset;
    transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
  
    &:nth-child(1), &:nth-child(2) {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: none;
      border-radius: 0;
      box-shadow: none;
      opacity: 1;
    }
  
    &:nth-child(3) { left: 50%; }
    &:nth-child(4) { left: calc(50% + 220px); }
    &:nth-child(5) { left: calc(50% + 440px); }
    &:nth-child(6) { left: calc(50% + 660px); opacity: 0; }
  }
  
  .content {
    width: min(30vw,400px);
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translateY(-50%);
    font: 400 0.85rem helvetica,sans-serif;
    color: white;
    text-shadow: 0 3px 8px rgba(0,0,0,0.5);
    opacity: 0;
    display: none;
  
    & .title {
      font-family: 'Poppins';
      text-transform: uppercase;
    }
  
    & .description {
      line-height: 1.7;
      margin: 1rem 0 1.5rem;
      font-size: 0.8rem;
    }
  
    & button {
      /*width: fit-content;*/
      background-color: rgba(0,0,0,0.1);
      color: white;
      border: 2px solid white;
      border-radius: 0.25rem;
      padding: 0.75rem;
      cursor: pointer;
    }
  }
  
  .item:nth-of-type(2) .content {
    display: block;
    animation: show 0.75s ease-in-out 0.3s forwards;
  }
  
  @keyframes show {
    0% {
      filter: blur(5px);
      transform: translateY(calc(-50% + 75px));
    }
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }
  
  .navi {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    /*user-select: none;*/
  
    & .btn {
      background-color:transparent;
      color: white;
      border: 2px solid white;
      margin: 0 0.25rem;
      padding: 0.75rem;
      border-radius: 50%;
      cursor: pointer;
  
      &:hover {
        background-color: rgba(255,255,255,0.3);
      }
    }
  }
  
  @media (width > 650px) and (width < 900px) {
    .content {
      & .title        { font-size: 1rem; }
      & .description  { font-size: 0.7rem; }
      & button        { font-size: 0.7rem; }
    }
    .item {
      width: 160px;
      height: 270px;
  
      &:nth-child(3) { left: 50%; }
      &:nth-child(4) { left: calc(50% + 170px); }
      &:nth-child(5) { left: calc(50% + 340px); }
      &:nth-child(6) { left: calc(50% + 510px); opacity: 0; }
    }
  }
  
  @media (width < 650px) {
    .content {
      & .title        { font-size: 0.9rem; }
      & .description  { font-size: 0.65rem; }
      & button        { font-size: 0.7rem; }
    }
    .item {
      width: 130px;
      height: 220px;
  
      &:nth-child(3) { left: 50%; }
      &:nth-child(4) { left: calc(50% + 140px); }
      &:nth-child(5) { left: calc(50% + 280px); }
      &:nth-child(6) { left: calc(50% + 420px); opacity: 0; }
    }
  }
 /*fin del carrucel*/

/* css producto */
.pre{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    contain: paint;
}
/* SECCION CONTENEDOR DE ITEMS */
 .pre .product-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    /* width: 60%; */
    width: 100%;
    transition: .3s;
}
.pre .product-items .pro{
    max-width: 300px;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
   
} 
.pre .product-items .pro .item .img-pro{
    width: 100%;
} 
 /*fin del producto  */

 /* empieza el footer  */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  /* Estilos para los enlaces */
  footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  /* Estilos para los íconos de redes sociales */
  footer .social-icons {
    margin-top: 20px;
  }
  footer .social-icons a {
    font-size: 24px;
    margin: 0 10px;
  }
  /* fin del footer */
